@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  color: #252525;
}

hr {
  border: none;
  width: 10%;
  height: 4px;
  background-color: #252525;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.container-item {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
  gap: 20px;
  text-align: center;
}

.button {
  text-align: center;
  padding: 10px 30px;
  background-color: #252525;
  text-decoration: none;
  color: white;
  border-radius: 25px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  width: 90%;
}

.image-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image-group img {
  width: 45%;
}

.chef-info {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: white;
  gap: 10px;
}

.chef-name {
  font-size: 1.1rem;
}

.chef-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chef-gallery img {
  width: 30%;
}

@media (min-width: 930px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-item {
    justify-content: center;
    align-items: center;
  }

  .main-title {
    font-size: 3rem;
    font-weight: normal;
  }

  .description {
    width: 60%;
  }

  .image-wrapper img {
    width: 75%;
  }

  .image-group {
    flex-direction: row;
    padding: 10px 25px;
  }

  .image-group img {
    width: 45%;
  }

  .chef-info {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: white;
    gap: 10px;
  }

  .chef-name {
    font-size: 1.2rem;
  }

  .chef-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .chef-gallery img {
    width: 10%;
  }
}