@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Layout general */
.container {
  display: grid;
  grid-template:
    "hero-section"
    "stats-section"
    "gallery-section";
  gap: 10px;
  padding: 10px;
}

/* Sección principal */
.hero-section {
  grid-area: hero-section;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

/* Sección de estadísticas */
.stats-section {
  grid-area: stats-section;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.stat-item {
  display: flex;
  gap: 10px;
}

/* Sección de galería */
.gallery-section {
  grid-area: gallery-section;
  display: flex;
  flex-direction: column;
}

.gallery-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-img {
  border-radius: 25px;
}

.gallery-text {
  position: absolute;
  z-index: 2;
  color: white;
  bottom: 1%;
  width: 80%;
  text-align: center;
}

/* Estilos del botón */
.btn {
  text-decoration: none;
  background-color: #333333;
  text-align: center;
  color: white;
  padding: 15px;
  width: 50%;
  border-radius: 25px;
}

/* Responsive */
@media (min-width: 750px) {
  .container {
    grid-template:
      "hero-section stats-section"
      "gallery-section gallery-section";
    margin: 10px;
    gap: 10%;
    padding: 4%;
  }

  .hero-section {
    align-items: center;
  }

  .stats-section {
    grid-template-columns: 1fr 1fr;
  }

  .stat-item img {
    width: 70%;
  }

  .gallery-section {
    flex-direction: row;
    justify-content: center;
    padding: 100px;
  }

  .gallery-section img {
    width: 100%;
  }

  .gallery-img:first-child {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
  }

  .gallery-img:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
}